.side-menu {
    background-color: #147594;
    max-width: 236px;
    width: 100%;
    min-height: 100vh;
    padding: 40px 8px;
    .hvss-menu{
        a{
            padding: 16px;
            border-radius: 4px;
            margin-bottom: 8px;
            &:hover{
                background-color: rgb(20, 151, 194, 0.5);
            }
            &.active{
                background-color: #1497C2;
            }
        }
    }
}