:root {
    --primary: #147594;
    --white: #ffffff;
    --black: #121212;
    --hover: #1497c2;
    --border: #E6E6EB;
  }
*{
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
body{
    overflow-x: hidden; 
    font-family: 'Public Sans', sans-serif !important;
    letter-spacing: 0.5px !important;
}
.c-pointer{
    cursor: pointer;
}
input{
    border: 1px solid #b5b5b5;
    width: 100%;
    height: 54px;
    border-radius: 4px;
    padding: 7px 15px;
}
button{
    &.primary-button{
        border: 1px solid var(--primary);
        background-color: var(--primary);
        font-size: 14px;
        font-weight: 400;
        border-radius: 4px;
        padding: 13px 20px;
        color: var(--white);
        min-width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
    }
    &.transparent-button{
        background-color: transparent !important;
        border: none !important;
        color: var(--black) !important;
    }
}
.primary-button:hover{
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.login-wrapper{
    width: 100%;
    min-height: 100vh;
    padding: 20px 10px;
    background-color: var(--primary);
    .primary-title{
        color: var(--primary);
    }
    .white-box{
        background-color:  var(--white);
        padding: 40px 20px;
        max-width: 600px;
        width: 100%;
        margin: auto;
        border-radius: 8px;
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.2);
    }
}
.primary-title{
    font-size: 42px;
    line-height: normal;
    margin: 0px 0px 35px;
    font-weight: 600;
    letter-spacing: 0px;
}
.secondary-title{
    font-size: 32px;
    font-weight: 500;
    margin: 0px 0px 24px;
    line-height: normal;
    color: var(--black);
    letter-spacing: 0px;
}
.page-title{
    font-size: 28px;
    font-weight: 400;
    line-height: normal; 
    color: var(--black);
    letter-spacing: 0px; 
}
.regular-title{
    font-size: 14px;
    font-weight: 400;
    line-height: normal; 
    color: var(--primary);
    letter-spacing: 0px;
    .highlight{
        color: var(--primary);
    }
}
.label-title{
    font-size: 12px;
    font-weight: 400;
    line-height: normal; 
    color: var(--black);
    letter-spacing: 0px;
    text-align: left;
} 
.ico_float{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.right{    
        right: 15px;
    }
    &.left{
        left: 15px;
    }
}


.page-wrapper{
    max-width: calc(100% - 236px);
    width: 100%;
    text-align: left;
}
.common-layout{
    padding: 34px 29px 20px 36px;
}
// table CSS
.table-wrapper{
    border: 1px solid var(--border);
    border-radius: 8px;
    .table-search{
        padding: 16px;
        .ico_float{
            width: 16px;
            height: 16px;
        }
        input{ 
            max-width: 360px;
            width: 100%;
            height: 36px;
            padding: 7px 10px 7px 35px;
            border: 1px solid var(--border);
        }
    }
    table {
        width: 100%;
        border-top: 1px solid var(--border);
        tr{
            &:last-child td{
                border-bottom: none;
            }
        th{
            background-color: #FAFAFC;
            padding: 19px 15px;
        }
        th,td{
            font-size: 14px;
            line-height: 22px;
            color: var(--black);
            font-weight: 400; 
        }
        td{
            border-right: 1px solid var(--border);
            border-bottom: 1px solid var(--border);
            &:last-child{
                border-right: none;
                padding: 8px 15px;
            }
            input{
                border: none !important;
                border-bottom: 1px solid transparent !important;
                outline: none;
                border-radius: 0px;
                height: 55px;
                margin-bottom: -1px;
                background-color: transparent;
                &:active,&:focus-visible{
                    border-bottom: 1px solid var(--primary) !important;
                }
            }
        }
        }
    }
}

// Dropdown
.dropdown-menu{
    border: 1px solid var(--border) !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1) !important;
    padding: 0 !important;
    border-radius: 4px !important;
    a{
        font-size: 15px !important;
        line-height: 22px !important;
        color: #121212 !important;
        font-weight: 400 !important;
        border-radius: 4px !important;
        padding: 9px 14px !important;
        &:hover{
            background-color: var(--hover) !important;
            color: var(--white) !important;
        }
    }
}

.dropdown-toggle{
    display: flex !important;
    align-items: center;
    margin-left: auto;
    &::after{
        border: none !important;
        background-image: url('../images/dropdown-arrow.svg') !important;
        width: 16px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px !important;
    } 
}
.error-message{
    color: red; 
    text-align: left;
    font-size: 11px;
    margin-top: 4px;
}